<?xml version="1.0"?>

<model>
  <name>IAI_Pylon</name>
  <version>1.0</version>
  <sdf>pylon.urdf</sdf>

  <author>
    <name>Benjamin Brieber</name>
    <email>bbrieber@cs.uni-bremen.de</email>
  </author>

  <description>
    The Base of the IAI Galtelli Mountain world.
  </description>
</model>
