<?xml version="1.0"?>

<launch>
  <arg name="model" default="conifer"/>
  <param name="$(arg model)_description" textfile="$(find iai_outdoor_models)/models/$(arg model)/$(arg model).urdf" />
    <!--
  <node
    name="joint_state_publisher"
    pkg="joint_state_publisher"
    type="joint_state_publisher" >
  </node>
  <node
    name="robot_state_publisher"
    pkg="robot_state_publisher"
    type="state_publisher" >

  </node>
  -->

</launch>
